.note-text-editor {
  border: none;
  font-size: 1rem;
  min-height: 100px;
  padding: 8px 10px;
  margin-left: 10px;
  width: calc(100% - 20px);
  outline: none;
  color: #202124;
  word-break: break-word;
  overflow-y: auto;
}

.note-text-editor:empty::before {
  content: attr(data-placeholder);
  color: #5f6368;
  pointer-events: none;
}

.note-text-editor ul {
  margin-left: 20px;
  list-style: disc;
}

.note-text-editor h1 {
  font-size: 1.25rem;
  font-weight: 600;
}
